[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "cmake_strict_defaults"]
	path = cmake_strict_defaults
	url = https://github.com/davidstone/cmake_strict_defaults
[submodule "numeric-traits"]
	path = numeric-traits
	url = https://github.com/davidstone/numeric-traits
[submodule "operators"]
	path = operators
	url = https://github.com/davidstone/operators.git
