[submodule "operators"]
	path = operators
	url = https://github.com/davidstone/operators.git
[submodule "benchmark"]
	path = source/benchmark
	url = https://github.com/google/benchmark.git
[submodule "numeric-traits"]
	path = numeric-traits
	url = https://github.com/davidstone/numeric-traits
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git